<div class="content">
<div>
    26.12.2023
    <p>1-Kenarları A,B,C,D olan bir dörtgenin kare olup olmadığını bulan programın algoritma.</p>
    <input type="number" [(ngModel)]="a">
    <input type="number" [(ngModel)]="b">
    <input type="number" [(ngModel)]="c">
    <input type="number" [(ngModel)]="d">
    <div>{{isRectangle()}}</div>
</div>
<div>
    <img src="assets/images/kare.jpg" alt="">
</div>
</div>
<hr>
<div class="content">
    <div>
        26.12.2023
        <p>Dairenin alanını ve çevresini bulan programın algoritma.</p>
        <input type="number" [(ngModel)]="r">
        <div>{{calculateArea()}}</div>
    </div>
    <div>
        <img src="assets/images/daire.jpg" alt="">
    </div>
</div>